@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+Pro&display=swap');

/* Fonts
* font-family: 'Montserrat', sans-serif;
* font-family: 'Source Serif Pro', serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Generell kod */

html{
    scroll-behavior: smooth;
}

:root{
    --primary-color: #96bdc6;
    --primary-color-rgb: 149, 189, 198;

    --secondary-color: #161b33;
    --extra-color: #81968f;
    
    --main-text-color: #333333;
    --main-text-color-light: #fff;

    --base-border-rad: 5px;
}

.img-container img{
    width: 100%;
}

button{
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Source Serif Pro', serif;
}

/* Navbar */
.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5rem;
    
    background: var(--main-text-color);
}

.topnav .img-container{
    width: 4rem;
    height: 4rem;
}

.topnav > .navlinks a{
    text-decoration: none;
    padding: 2rem;
    color: var(--main-text-color-light);
    font-size: 1.3rem;

    transition: background 0.1s linear;
}

.topnav > .navlinks a:hover{
    background: var(--primary-color);
}

/* Subnav */
.subnav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    background: var(--primary-color);
    height: 2rem;
}

.subnav a{
    text-decoration: none;
    color: var(--main-text-color);
    margin: 0 1.5rem;
    font-weight: 550;
}

/* Introduktion */
.introduction{
    background-image: url(img/smartphone-conceptdrawing.jpg);
    background-position: center;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    
    width: 100vw;
    height: 70vh;
    max-width: 100%;
}

.introduction .buttons{
    display: flex;
    flex-direction: column;

    margin-left: 20%;
}

.introduction button{
    border: none;
    background: var(--secondary-color);
    padding: 1rem;
    border-radius: var(--base-border-rad);
    color: var(--main-text-color-light);
    width: 15rem;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1rem;

    transition: background 0.1s linear;
}

.introduction button:hover{
    background: var(--primary-color);
}

.introduction .img-credits{
    align-self: flex-end;
    justify-self: flex-end;
}

/* Phone index */
.phones-index{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    background: var(--main-text-color-light);
}

.phones-index .phone{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1rem;
    width: 15rem;
    padding: 1rem;
    border-radius: var(--base-border-rad);
    background: rgba(var(--primary-color-rgb), 0.3);
}

.phones-index .phone h2{
    font-size: 1.6rem;
}

.phones-index .phone p{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.phones-index .phone .buttons{
    margin-top: 0.5rem;
}



/* Hållbarhet */
.hallbarhet-main{
    display: flex;

    max-width: 75rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.hallbarhet-main .main-content .tree-n-text{
    display: flex;
    align-items: center;
}
.hallbarhet-main .tree-n-text > :first-child{
    flex: 1 1;
}
.hallbarhet-main .tree-n-text .img-container{
    max-width: 20rem;
}

.hallbarhet-main aside{
    flex: 0 0 20rem;
}

.hallbarhet-main aside > *{
    margin: 0.5rem 0;
    padding: 1rem;

    transition: background 0.1s linear;
}

.hallbarhet-main aside > *:hover{
    background: rgb(216, 216, 216);
}

.hallbarhet-main .main-content{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    
    padding-left: 1rem;
}

.hallbarhet-main .main-content article h1{
    font-size: 1.6rem;
    margin-top: 1rem;
}

.hallbarhet-main .main-content > :first-child{
    display: flex;
    align-items: center;

    margin-top: 2rem;

    height: 6rem;
    order: 2;
}


.hallbarhet-main .main-content > :nth-child(2){
    flex: 1 1;

}

.hallbarhet-main .main-content > :first-child > :first-child{
    max-width: 10rem;
    text-align: center;
}

.hallbarhet-main .main-content > :first-child p{
    flex: 1 1;

    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 1px solid black;
}


.hallbarhet-main .main-content > :nth-child(2) p{
    margin-bottom: 1rem;
}

/* Footer */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100vw;
    max-width: 100%;
    height: 10rem;

    color: var(--main-text-color-light); 
    background: var(--secondary-color);
}

footer > :first-child{
    width: 6rem;
}