/** NOTE TO SELF
*TODO: Byt ut "javascipt" queryn mot en med ::after där content ändras i median */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+Pro&display=swap');

/* Fonts
* font-family: 'Montserrat', sans-serif;
* font-family: 'Source Serif Pro', serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Generell kod */

html{
    scroll-behavior: smooth;
}

body{
    background: var(--primary-color);
}

:root{
    --primary-color: rgb(250, 249, 248);
    --primary-color-rgb: 250, 249, 248;

    --secondary-color:#ef9273;
    --extra-color: #81968f;
    
    --main-text-color: #333333;
    --main-text-color-light: #fff;

    --base-border-rad: 5px;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img{
    width: 100%;
}

button{
    cursor: pointer;
}

/*! Fundera över header fonten */
/* h1, h2, h3, h4, h5, h6{
    font-family: 'Source Serif Pro', serif;
} */

/* Navbar */
.topnav .navlinks-mobile{
    display: none;
}

.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: relative;
    height: 5rem;
    background: linear-gradient(to bottom, #fff, #fff, var(--primary-color));
    box-shadow: 0px 1px 7px rgb(173, 173, 173);
    z-index: 10;
}

.topnav > :first-child{
    display: flex;
    align-items: center;
}

.topnav > :first-child h1{
    margin-left: 1rem;
    font-size: 2rem;
}

.topnav .img-container{
    width: 4rem;
    height: 4rem;
}

.topnav > .navlinks a, footer .navlinks a{
    text-decoration: none;
    padding: 1.7rem;
    color: var(--main-text-color);
    font-size: 1.3rem;

    transition: font-weight 0.1s linear, background 0.1s linear;
}

.topnav > .navlinks a:hover{
    font-weight: bold;
    background: rgb(230, 230, 230);
}

.topnav .navlinks-mobile a{
    display: none;
    
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

/* Introduktion */
.introduction{
    background-image: url(img/smartphone-conceptdrawing.jpg);
    background-position: center;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    position: relative;
    
    width: 100vw;
    height: 70vh;
    max-width: 100%;
}

.introduction .prompt{
    margin-left: 20%;
    justify-content: center;
}

.introduction .prompt .text{
    font-size: 2rem;
    max-width: 31rem;
    font-weight: bold;
    color: black;
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 0.5rem;
}

.introduction .buttons{
    display: flex;
    margin-top: 1rem;
}

.introduction button{
    border: none;
    background: var(--secondary-color);
    padding: 1rem;
    border-radius: var(--base-border-rad);
    color: var(--main-text-color-light);
    width: 15rem;
    font-weight: 700;
    font-size: 2rem;
    margin-right: 1rem;

    transition: background 0.1s linear;
}

.introduction button:hover{
    background: #fdbca7;
}

.introduction .img-credits{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Phone index */
.phones-index-header{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.phones-index-header h1{
    font-size: 2.2rem;
    
    border-radius: 0.5rem;    
    background: rgb(222, 227, 233);
    padding: 0.5rem;
}

.phones-index{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.phones-index .phone{    
    border: solid 1px #dfdfdf;
    background: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

.phones-index .phone > :first-child{
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.phones-index .phone .img-container{
    max-width: 20rem;
}

.phones-index .phone .colors{
    margin-top: 0.2rem;
}

.phones-index .phone .colors > *{
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    margin-right: 0.5rem;

    display: inline-block;
}

.phones-index .phone .colors > *:hover{
    border: solid black 2px;
}

.phones-index .phone .colors > :nth-child(1){
    background: rgb(255, 52, 52);
}

.phones-index .phone .colors > :nth-child(2){
    background: rgb(59, 124, 161);
}

.phones-index .phone .colors > :nth-child(3){
    background: rgb(41, 170, 127);
}

.phones-index .phone .colors > :nth-child(4){
    background: rgb(0, 0, 0);
}

.phones-index .phone .spec-pair{
    margin-top: 0.5rem;
}

.phones-index .phone .spec-pair h3{
    font-size: 1.3rem;
}

.phones-index .phone .spec-pair p{
    font-size: 1.1rem;
}

/* Hållbarhet */
.hallbarhet-main{
    display: flex;

    max-width: 75rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.hallbarhet-main .main-content .tree-n-text{
    display: flex;
    align-items: center;
}
.hallbarhet-main .tree-n-text > :first-child{
    flex: 1 1;
}
.hallbarhet-main .tree-n-text .img-container{
    max-width: 20rem;
}

.hallbarhet-main aside{
    flex: 0 0 20rem;
}

.hallbarhet-main aside > *{
    margin: 0.5rem 0;
    padding: 1rem;

    transition: background 0.1s linear;
}

.hallbarhet-main aside > *:hover{
    background: rgb(216, 216, 216);
}

.hallbarhet-main .main-content{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    
    padding-left: 1rem;
}

.hallbarhet-main .main-content article h1{
    font-size: 1.6rem;
    margin-top: 1rem;
}

.hallbarhet-main .main-content > :first-child{
    display: flex;
    align-items: center;

    margin-top: 2rem;

    height: 6rem;
    order: 2;
}


.hallbarhet-main .main-content > :nth-child(2){
    flex: 1 1;

}

.hallbarhet-main .main-content > :first-child > :first-child{
    max-width: 10rem;
    text-align: center;
}

.hallbarhet-main .main-content > :first-child p{
    flex: 1 1;

    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 1px solid black;
}


.hallbarhet-main .main-content > :nth-child(2) p{
    margin-bottom: 1rem;
}

/* About */
.header-about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-about h1{
    margin-top: 1rem;
    font-size: 3rem;
}

.main-about{
    max-width: 70rem;
    margin: auto;
    background: white;
    padding: 1.5rem;
    box-sizing: content-box;
    border-radius: var(--base-border-rad);
}

.main-about section{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.main-about > *:not(:last-child){
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: solid 2px #dfdfdf;
}

.main-about > :nth-child(even) > .about{
    order: -12;
}

.main-about section .img-container{
    max-width: 33rem;
}

.main-about section .img-container img{
    border-radius: var(--base-border-rad);
}

.main-about section .about{
    flex: 1 1;
    padding: 1rem 2rem;
}

/* Visit */
.visit-body{
    background: rgb(245, 248, 255);
}

.visit-main{
    max-width: 60rem;
    margin: auto;
}

.visit-main .ads{
    margin-top: 2rem;
}

.ads .ad{
    display: flex;
    height: 22rem;
    margin-top: 2rem;
}

.ads .ad .right{
    flex: 1 1;
    padding: 2rem;
    background: white;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ads .ad > :first-child{
    max-width: 24rem;
    height: inherit;
}

.ads .ad > :first-child img{
    object-fit: cover;
    max-width: inherit;
    height: inherit;
}

.ad .right .top{
    display: flex;

}

.ad .right .top > :first-child{
    width: 2rem;
    margin-right: 0.7rem;
}

.ad .right .top .info > :first-child{
    font-style: italic;
}

.ad .right .top .info > :nth-child(2){
    font-size: 0.8rem;
}

.ad .right .main{
    margin-top: 0.5rem;
}

.ad .right .main p{
    margin-top: 0.5rem;
}

.ad .bottom{
    padding-top: 1.5rem;
    margin-top: 1rem;
    border-top: 1px solid rgb(192, 192, 192);
}

.ad .bottom span{
    font-size: 0.9rem;
}

.ad .bottom > :nth-child(2){
    margin: 0 1rem;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
    padding: 2rem;
}

footer > :first-child{
    display: flex;
    
    max-width: 60rem;
}

footer > :first-child > :first-child{
    width: 5rem;
    cursor: pointer;
}

footer .info{
    border-left: solid 1px lightgrey;
    padding-left: 2rem;
    margin-left: 2rem;

    flex: 1 1;
}

footer .top a{
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 600;
    margin-right: 3rem;
}

footer .info .social{
    padding: 2rem 0;
}

footer .info .social img{
    width: 3rem;
    margin-right: 2rem;

    cursor: pointer;
}

footer .disclaims > :first-child::before{
    content: '\00a9';
    margin-right: 0.3rem;
}

footer .disclaims span:not(:first-child){
    border-left: 1px solid rgb(61, 61, 61);
    padding-left: 1rem;
    margin-left: 1rem;
}

/* Media */

@media(max-width: 900px){
    .topnav .navlinks.navlinks > *{
        padding: 0;
        margin-right: 1.5rem;
    }

    .ads .ad{
        height: 27rem;
    }
}

@media(max-width: 768px){
    /* Nav */
    .topnav{
        justify-content: space-between;
        align-items: center;
        height: 6rem;
    }
    
    .topnav .img-container{
        width: 5rem;
        height: 5rem;
    }
    
    .topnav > *:not(:first-child){
        display: none;
        flex-direction: column;
    }
    
    .topnav .navlinks-mobile{
        display: block;
    }
    
    .topnav .navlinks-mobile a{
        display: inline-block;
        
        margin-right: 0.5rem;
        padding: 0.5rem;
    }
    
    /* Intro */
    .introduction{
        justify-content: center;
    }
    
    .introduction .prompt{
        margin: 0;
        max-width: 80vw;
    }
    
    .introduction .buttons{
        flex-direction: column;
        align-items: center;
    }
    
    .introduction .buttons button{
        margin-top: 1rem;
    }
    
    /* About */
    .main-about section{
        flex-direction: column;
        justify-content: center;
    }
    
    .main-about section .about.about{
        order: 12;
    }

    /* Visit */    
    .ads .ad{
        margin-bottom: 20rem;
        flex-direction: column;
        align-items: center;
        background: white;
    }
    
    .ads .ad .right{
        padding: 1rem;
    }
    
    .ad .right .top > :first-child{
        margin-right: 0;
    }
    
    /* Footer */
    footer{
        border-top: lightgray 1px solid;
    }
    
    footer > :first-child{
        flex-direction: column;
        align-items: center;
    }
    
    footer > :first-child > :first-child{
        width: 7rem;
    }
    
    footer .info{
        border-left: none;
        margin-top: 1rem;
        margin-left: 0;
        padding-left: 0;
    }
    
    footer .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    footer .top a{
        margin: 1rem;
    }
    
    footer .info .social{
        display: flex;
        justify-content: center;
    }
    
    footer .disclaims{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    footer .disclaims > span:not(:first-child){
        border: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 1rem;
        text-align: center;
    }
}

@media(max-width: 500px){
    .topnav > :first-child h1{
        display: none;
    }
}